<!doctype html>
<html>
  <head>
    <!-- CSS file -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/todo.css">
  </head>
  <body style="background-color: #20243f ">
    <!-- Import scripts -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Script -->
    <script src="src/js/informationScript.js"></script>


    
    
<div class="container text-center" >

  <div style="padding: 35px;; color: white">
      <h2>
        <img src="src/AquaRium.png">
        <p id="title">NOOOO's Aquarium</p>
      </h2>
  </div>

    <center>
  <div class="table-responsive" >          
    <table class="tableInfo" style="padding: 35px;background-color:#394263; color: white">
      <tbody>
        <tr>
          <th style="width:25%; padding: 15px">Aquarium ID: </th>
          <td id="aqID" style="padding: 15px; padding-left: 50px"> {{Aquarium ID}}</td>
        </tr>
      
        <tr>
          <th style="width:25%; padding: 15px;">Owner: </th>
          <td id="owner" style="padding: 15px; padding-left: 50px">{{Name of the owner}}</td>
        </tr>

        <tr>
          <th style="width:25% ; padding: 15px">Number of sea animal: </th>
          <td id="aniNo" style="padding: 15px; padding-left: 50px"> 2 </td>
        </tr>

        <tr>
          <th style="width:25% ; padding: 15px" valign="top">List of sea animal: </th>
          <td id="aniList" style="padding: 15px; padding-left: 50px"> 
              <table>
                <tbody>
                  <tr>
                    <th style="width:25%; padding: 15px"><img src="src/clownFish_01.png"></th>
                    <td id="aqID" style="padding: 15px; padding-left: 50px">Clown Fish</td>
                  </tr>

                  <tr>
                    <th style="width:25%; padding: 15px"><img src="src/BlueTang.png"></th>
                    <td id="aqID" style="padding: 15px; padding-left: 50px">Blue Tang Fish</td>
                  </tr>

                </tbody>
              </table>
          </td>
        </tr>

      </tbody>
    </table>
    </div>
    </center>


    <script>
    function textChange( minorNumber ) {
      document.getElementById("aqID").innerHTML = "Hello\n" + minorNumber;
    }
    </script>



  </body>
</html>
